{% extends "base.html" %}
{% block content %}
    <div class="content_bg p-3 m-0 m-lg-0 mb-lg-3 mb-2" >

        <div class="post_images row p-3 ">
            <div class="col-2 user-img p-0">
                <img src="{{ manager.photo }}" alt="" class = "post_image">
            </div>
            <div class="col-10 ">
                <div class="post_header row justify-content-between m-0">
                    <a href="#" class = "big_info-text">{{ manager.first_name }} {{ manager.last_name }} <span class = "text-blue">@{{ manager.login }}</span></a>
                </div>
                <div class="post_info p-0 col-12 d-inline-flex align-items-end">
                    <a href="{{ url_for("manager_products", id = manager.id) }}" class = "btn mb-1 btn-light btn-sp-primary  ">Перейти к товарам организатора</a>
                </div>
            </div>

        </div>
        <div class="sites p-0 col-12">
            <div class = "justify-content-center d-inline-flex col-12">
                <h2 class = "more-info-big-text d-block ">Сайты организатора:</h2>

            </div>
            {% if first == "yes" %}
                <a href="{{ url_for("cancel_manager", login = manager.login) }}" class = "btn mb-1 btn-primary bg-blue btn-sp-primary mr-2 ">Отмена</a>
            {% else %}
                {% if current_user.is_admin %}
                    {% if free_sites != []%}
                        <form method="post" action="" >
                            {{ add_form.hidden_tag() }}
                                <div class = "row p-2 m-0">
                                    <select class = "form-control col-12 col-md-4" name = "{{ add_form.site.name }}">
                                        {% for site in free_sites %}
                                            <option value="{{ site.id }}">{{ site.name }}</option>
                                        {% endfor %}
                                    </select>
                                    <button type = "submit" class = "btn btn-primary btn-sp-primary bg-blue col-12 col-md-4">Добавить</button>
                                </div>
                        </form>
                    {% else %}
                        <h2 class="big_info-text text-blue">Нет доступных для добавления сайтов</h2>
                        <a href="{{ url_for('sites') }}" class = "more-info-text text-blue">Добавить сайт</a>
                    {% endif %}

                {% endif %}
                {% if sites == [] %}

                    <h2 class="big_info-text text-dark" style="border-top: 1px solid #efefef">У этого пользователя пока нет сайтов</h2>
                {% else %}
                    {% for site in sites %}
                        <div class = "more-info-text d-block d-md-flex py-1" style="font-size: 1.1rem;">
                            <a href="{{ site.url }}" class = "text-dark d-md-inline-flex d-block col-12 col-md-4" >{{ site.name }}</a>
                            <a href="{{ site.url }}" class = "text-blue d-md-inline-flex d-block col-12 col-md-7">{{ site.url }}</a>
                            {% if current_user.is_admin %}
                                <span data-toggle="popover"
                                      data-placement="right"
                                      data-trigger="hover"
                                      data-content="{{ site.name }}">
                            <a href="{{ url_for("cancel_site", site_id = site.id) }}" class = "col-1 text-danger">
                                <i class="far fa-times-circle " ></i></a></span>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endif %}

        </div>
    </div>
{% endblock %}