{% extends "base.html" %}
{% block content %}
    <div class="content_bg p-3 m-0 m-lg-0 mb-lg-3 mb-3">
        <div class="post_header">
            <h2 class="big_info-text pl-2">{{ product.name }}</h2>
        </div>

        <div class="post_images row justify-content-center p-2 ">
            <div class="post_image-box main_image col-12 col-sm-12 col-lg-6 col-md-6">
                <img src="{{ product.main_image }}" alt="" class="post_image post_image_post ">
            </div>
            <div class=" row col-12 col-sm-12 col-lg-6 col-md-6 align-self-start">
                {% for images in product.second_image %}
                    <img src="{{ images }}" alt=""
                         class="post_image secondary_image col-3 col-lg-6 col-md-6 col-sm-3 p-0 m-auto align-self-center">
                {% endfor %}
                {##}
                {#                {% for i in range(product.second_image|length) %}#}
                {#                    <img src="{{ product.second_image[i] }}" alt=""#}
                {#                         class="post_image secondary_image col-3 col-lg-6 col-md-6 col-sm-3 p-0 m-auto align-self-center">#}
                {#                {% endfor %}#}
            </div>
        </div>
        <div class="post_info row m-0">
            <div class="product-description col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
                <span class="more-info-big-text">Описание:</span>
                <p class="text-justify more-info-text">{{ product.description }}</p>
                <a href="{{ product.utl }}" class=more-info-text>Посмотреть на сайте</a>
            </div>
            <div class="more-info col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5" style="border-left: 1px solid #efefef">
                <div class="col-12">
                    <h5 class="more-info-big-text">Тип сбора:</h5> <span
                        class="more-info-text">{{ product.type.name }}</span>
                </div>
                <div class="col-12">
                    <h5 class="more-info-big-text">Организатор:</h5> <span class="more-info-text"><a
                        href="#">{{ product.site.manager.login }}</a></span>
                </div>
                <div class="col-12">
                    <h5 class="more-info-big-text">Цена:</h5> <span class="more-info-text">{{ product.price }}</span>
                </div>
                {# поменять вывод в зависимости от ростовки #}

            </div>
            <div class="order_size col-12 p-3" style="border-top: 1px solid #efefef">
                {% if product.type_id == 1 and item_packs[0].sizes %}
                    <table class="table-sizes ">
                        <tr class="table-header">
                            {% for size in item_packs[0].sizes %}
                                <th colspan="1">{{ size }}</th>
                            {% endfor %}</tr>
                        {% for i in range(item_packs|length) %}
                            <tr class="data">
                                {% if item_packs[i].status == 1 %}
                                    {% for item in items[i] %}
                                        <td colspan="1" class="ordered"><span data-toggle="popover"
                                                                              data-placement="right"
                                                                              data-trigger="hover"
                                                                              data-content="Заблокировано">
                                    <i class="fas fa-ban text-blue"></i> </span>
                                        </td>
                                    {% endfor %}
                                {% else %}
                                    {% for item in items[i] %} {# Table cells #}
                                        {% if  item.id_user == None %}{# free items#}
                                            <td colspan="1" class="to_order"><a
                                                    href="{{ url_for("order",product_id = product.id,id = item.id) }}"
                                                    rel="nofollow">
                                                <i class="fas fa-cart-arrow-down text-blue"></i>
                                            </a></td>
                                        {% elif item.id_user == current_user.id %}
                                            <td colspan="1" class="lock bg-blue text-blue"><a class="text-blue"
                                                                                              href="{{ url_for("cancel",product_id = product.id,id = item.id) }}"
                                                                                              rel="nofollow">
                                                <i class="fas fa-window-close"></i>
                                            </a></td>
                                            {% else %}{# not free items#}
                                            <td colspan="1" class="lock"><span data-toggle="popover"
                                                                               data-placement="right"
                                                                               data-trigger="hover"
                                                                               data-content="Заказ участника сбора">
                                                <i class="fas fa-lock text-blue"></i>
                                            </span>
                                            </td>
                                        {% endif %}

                                    {% endfor %}
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </table>
                {% elif product.type_id != 1 %}
                    <div class="col-12">
                        <h5 class="more-info-big-text">{{ product.type.name }}</h5><span
                            class="more-info-text">:{{ item_packs.goal }}</span>
                    </div>
                    <div class="col-12 p-0">
                        <div class="progress" style="position:relative; height: 1.4rem">
                            <div class="progress-bar-title  d-block w-100 p-0 m-0"
                                 style="position:absolute;text-align: center; font-size: 1.1rem;">{{ item_packs.count }}
                                из {{ item_packs.goal }}</div>
                            <div class="progress-bar bg-blue" role="progressbar"
                                 style="width: {{ item_packs.percent_items }}%; " aria-valuenow="" aria-valuemin="0"
                                 aria-valuemax="{{ item_packs.goal }}"></div>
                        </div>
                    </div>
                    <a href="{{ url_for("order_min", product_id = product.id, id_pack = item_packs.id) }}"
                       class="btn btn-primary btn-sp-primary col-12 my-2 p-2 bg-blue ">Заказать</a>
                {% endif %}
            </div>


        </div>
    </div>
{% endblock %}