{% extends "base.html"%}
{% block content %}
 <div class="content_bg m-0 m-lg-0 mb-lg-3 mb-3 row">
{#    <div class="post_header settings-menu  d-flex row m-0 px-2 ">#}
{#        <div>#}
{#        <a href = "" class="big_info-text d-block settings-menu-item pl-2">Настройки </a>#}
{#        <a href ="" class="big_info-text d-block settings-menu-item pl-2">Безопасность</a>#}
{#        </div>#}
{#    </div>#}
    <div class="post_header settings-menu d-flex row m-2 px-2">
        <a href="" class = "big_info-text d-block settings-menu-item pl-2"> Настройки</a>
        <a href="" class = "big_info-text d-block settings-menu-item pl-2"> Безопасность</a>
    </div>
 </div>
    <div class="content_bg p-3 m-0 m-lg-0 mb-lg-3 mb-3">
    <div class="col-3">

        <div class="user-img p-0 w-100 mb-2">
            <img src="{{ current_user.photo }}" class = "">
        </div>

         <button type="" name = "" class="btn  btn-primary bg-blue btn-sp-primary w-100">Загрузить</button>
    </div>
    </div>
{% endblock %}